.d-flex input{
    width: 640px;
}

.card-group {
    margin: 50px 50px 0px 50px;
}

.link {
    text-decoration: none;
    color: rgb(50, 50, 50)
}
.btn-primary:hover {
    color: #fff;
    background: linear-gradient(rgb(72, 223, 34),rgb(198, 223, 34));;
    border:0;
    border-radius: 10px;
    transition: 0.5s;
}

.btn-primary:not(:hover) {
    color: #fff;
    background: rgb(0, 3, 43);;
    border:0;
    border-radius: 10px;
    transition: 0.5s;
}


.button-Sign {
    text-align: center;
    margin: 20px 0;

}

.button-Sign button a{
    text-decoration: none;
    color: white;
}